.password-body {
  overflow: hidden;
}

.password-page-container {
  height: 100vh;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
}

.password-page-container.position-top {
  align-items: flex-start;
}

.password-page-container.position-bottom {
  align-items: flex-end;
}

.password-page-content {
  position: relative;
  z-index: 3;
  width: 100%;
  max-width: 520px;
}

.align-left .password-page-content {
  margin-left: 0;
}

.position-top .password-page-content {
  padding-top: 1.5rem;  
}

.position-bottom .password-page-content {
  padding-bottom: 1.5rem;  
}

.password-page-logo {
  margin: 0;
  margin-bottom: 3rem;
}

.password-page-image-header {
  position: relative;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
  height: 180px;
}

.password-page-image-header img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: var(--media-radius);
}

.password-page-login-link {
  cursor: pointer;
  text-decoration: underline;
  display: inline-block;
  padding: 1rem 0;  
}

.password-page-message {
  padding: 1.5rem 0;
}

.password-link-wrapper {
  margin: 0 auto;
  width: fit-content;  
  padding-top: 2rem;
}

.align-left .password-link-wrapper {
  margin: 0;
}

.password-link-wrapper-top {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 1;
}

.password-link-wrapper-bottom {
  position: absolute;
  bottom: 3rem;
  right: auto;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
}

.password-link-wrapper-bottom.align-left {
  left: var(--page-margin-mobile);
  transform: none;
}

.password-page-login-link.button {
  color: inherit !important;
  background: none !important;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
  width: fit-content;
  min-width: 10rem !important;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  color: #000000;
}

.caption .link {
  font-size: inherit;
}

.password-page-social-media {
  color: inherit;
  padding-top: 2.5rem;
}

.password-page-social-media ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.password-page-social-media a, .password-page-social-media .icon {
  color: inherit;
}

.password-page-social-media .icon {
  width: 1.4rem;
  height: 1.4rem;
}

.align-center .password-page-logo {
  margin: 0 auto;
  margin-bottom: 3rem;
}

.align-center {
  margin: 0 auto;
  text-align: center;
}

.password-page-logo img {
  width: 100%;
  height: auto;
}

.password-page-image-background {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.password-page-image-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.25);
  z-index: 1;
}

.modal-background {
  display: block !important;
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.modal-background.visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0ms, opacity 300ms;
}

.password-page-modal {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: calc(100% - 4rem);
  height: 100%;
  max-height: 35rem;
  max-width: 40rem;
  visibility: hidden;
  z-index: 5;
  background: #ffffff;
  color: #000000;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.password-page-modal.open {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0ms, opacity 300ms;
}

.storefront-password-form {
  padding: 1.5rem; 
}

.password label {
  display: block;
  text-align: left;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
}

.password-page-container .errors {
  color: red;
  padding-bottom: 1.5rem;
}

.password-modal-close-button {
  background: none;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  cursor: pointer;
}

.password-page-modal input {
  outline: none;
  border: 0;
  appearance: none;
  -webkit-apperance: none;
  padding: 1.5rem;
  border: 1px solid #000000;
  margin-bottom: 1rem;
}

.password-page-modal input[type=submit] {
  background: black;
  color: #ffffff;
  cursor: pointer;
}

.password-page-modal ul {
  text-align: left;
  padding: 0;
  margin: 0 1.5rem;
}

.password-page-modal li {
  padding: 5px;
  margin-left: 0;
}

.password-form-footer {
  color: #555555;
}

@media only screen and (min-width: 750px) {
  .password-page-image-header {
    height: 200px;
  }
  .position-top .password-page-content {
    padding-top: 4rem;  
  }  
  .position-bottom .password-page-content {
    padding-bottom: 4rem;  
  } 
  .password-modal-header {
     padding: 1rem 1rem 0 1rem; 
  }
  .storefront-password-form {
    padding: 2.5rem; 
  }
  .password-link-wrapper-bottom.align-left {
    left: var(--page-margin-tablet);
    transform: none;
  }
}

@media only screen and (min-width: 1025px) {
  .password-page-image-header {
    height: 220px;
  }
  .password-link-wrapper-bottom.align-left {
    left: var(--page-margin-desktop);
    transform: none;
  }
}


@media only screen and (max-height: 500px) {
  .password-page-container.allow-overflow {
    display: block;
    padding: 40px 0;
  }
}

.newsletter-heading-label {
  
}

.password-page-newsletter {
  position: relative;
  margin-top: 2rem;
}

.password-page-newsletter .field {
  display: flex;
}

.password-page-newsletter .field__label {
  display: none;
}

.newsletter-field-input {
  width: 100%;
  height: 4.4rem !important;
  padding: 0 1rem;
  outline: 0;
  background: none;
}

.newsletter-field-input:focus {
  outline: 0;
  box-shadow: none;
  padding: 0 1rem;
}

.newsletter-form__button {
  height: 4.4rem;
  top: 50% !important;
  transform: translateY(-50%);
}

.newsletter-fields {
  margin-top: 1rem;
}

.password-page-newsletter .form__message {
  width: 100%;
  justify-content: center !important;
}

.align-left .password-page-newsletter .form__message {
  width: 100%;
  justify-content: flex-start !important;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter-form__field-wrapper .field__button {
  height: 100%;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fields-style-minimal .newsletter-form__field-wrapper .field__button {
  justify-content: flex-end;
}

.newsletter-form__message--success {
  margin-top: 1rem;
}

.password-page-newsletter .field {
  background: none;
  color: inherit;
}

.password-page-newsletter .fields-style-outline .field {
  color: inherit;
  background: none;
  border: 1px solid;
}

.newsletter-form__button .icon {
  color: inherit !important;
}

.fields-style-default .field input {
  color: inherit;
  background: var(--color-base-background);
  color: rgba(var(--color-foreground),1);
  border: 0;
}

.color-scheme-fg-01 .password-page-newsletter.fields-style-outline .field__input {
  border: 1px solid var(--color-accent-one) !important;
}

.color-scheme-fg-02 .password-page-newsletter.fields-style-outline .field__input {
  border: 1px solid var(--color-accent-two) !important;
}

.color-scheme-fg-03 .password-page-newsletter.fields-style-outline .field__input {
  border: 1px solid var(--color-accent-three) !important;
}

.color-scheme-fg-04 .password-page-newsletter.fields-style-outline .field__input {
  border: 1px solid var(--color-accent-four) !important;
}

.fields-style-default .field__button {
  color: rgba(var(--color-foreground),1);
}

.fields-style-outline .field input, .fields-style-minimal .field input {
  color: inherit;
}

.fields-style-minimal .field input {
  border: 0;
  padding: 2.5rem 0rem;
}

.fields-style-minimal .field {
  background: none;
  border: 0;
  border-bottom: 1px solid;
  color: inherit;
}

.fields-style-minimal .field__input, .fields-style-minimal .field__input::placeholder {
  inherit;
}

.fields-style-outline .field__button, .fields-style-minimal .field__button {
  color: inherit !important;
}

.password-page-newsletter .field__input:focus-visible {
  outline: 2px transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  box-shadow: none;
}

.newsletter__button {
  margin-top: 3rem;
  width: fit-content;
  color: inherit;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}